

.search__widget{
  padding: 7px 15px;
  cursor: pointer; background-color:var(--mint-cream);
  display: flex;
margin-bottom: 15px;
}
.search__widget input {
  border: none;
}

.search__widget input:focus {
  outline: none;
}



.filters {
    font-family:  'Roboto', sans-serif;
  background-color: #ffffff;
  padding: 2rem;  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.filters h4{margin-bottom: 10px;}






/*  */
.price_sort{display: flex; padding: 20px 0;}
.price_sort label{ padding-right: 10px;}

.select{height: 46px;}








.col-container{  font-family:  'Roboto', sans-serif; display: table; 
    margin-top: 80px;
  width: 100%;}

.filters-left{  
  position: sticky;
  top: 120px; float: left;
  font-size: 20px;
  z-index: 2;
  width: 265px;
padding-right: 20px;

  }
.filters-left-top{display: flex; justify-content:flex-start; padding-bottom: 20px; 
align-items: flex-end;background-color: var(--mint-cream);padding: 10px;}
.filters-left-top h4{margin-left: 5px;}



  .container-right{
    float:right;
  margin-top: -544px;
   width: 855px;
  }

@media screen and (max-width: 768px) {
  .filters-left{
  position: unset;
    width: 100%;padding-right: 0px;
  }
.col-container{    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;}
 
  .container-right{
  position: unset;padding-top: 560px;
   width:100%;
  }
  
}

@media screen and (max-width: 480px) {
  .filters-left{
    display: block;position: unset;
    width: 100%;

  } 
  .container-right{
    display: block;
   width:100%;
  }
.paginationBttns {
    width: 449px !important;
    height: 40px;
  margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0px;
    list-style: none;
    margin-top: 30px;
margin-bottom: -20px;
}
}


.foodBtnActivee {
    background:white !important;
    color: #049a54  !important;
}