* .containerrr{
    text-align: center;
}
.containerrr{ 
    height: 500px;
    width: 70%;
    background-color: #f1f7ee;
    margin: 20% auto;
padding-top: 40px;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
input{
    outline: none;
}
.name{
    width: 40%;
    height: 30px;
}
.otherField{
    width: 81%;
    height: 30px;
}
.sign{ 
    height: 35px;
width: 40%;
    background-color: #05c26a;
    color: white;margin:0 1px 0 0;
}




.field_container{
    margin-bottom: 15px;    align-items: center;
    display: flex;
    justify-content: center;

}
.main_button{
    margin-top: 40px !important;
    display: flex;margin-top: 40px !important;
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;

}
.title{ margin-top: 10px; margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.signin_padding{
padding-top: 40px;

    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}


.imglogin img{ 
    position: relative;
    background-color: #f1f7ee;

    border-radius: 50%;
    
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, color 0.2s;}
    .imglogin img:hover{border: 3px solid #05c26d;}
.imgperson img{border-radius: 10px;}

    .btnlogout{align-items: center; text-align: center;display: flex;}

.adress{align-items: center; text-align: center;}    
